net "dkweb_uc" loc = p8;
net "dkrd_uc" loc = p9;
net "side_uc" loc = p16;
net "xclk" loc = p17;
net "dir_uc" loc = p18;
net "wprot_uc" loc = p19;
net "dkwdb_uc" loc = p1;
net "step_uc" loc = p2;
net "sel1_uc" loc = p4;
net "sel0_uc" loc = p5;
net "index_uc" loc = p6;
net "flop2_trk0" loc = p58;
net "flop3_trk0" loc = p20;
net "ena2" loc = p59;
net "ena3" loc = p60;
net "flop1_trk0" loc = p61;
net "flop0_trk0" loc = p62;
net "ena1" loc = p63;
net "ena0" loc = p64;
net "rdy_emu" loc = p31;
net "dkrd_emu" loc = p32;
net "wprot_emu" loc = p33;
net "trk0_emu" loc = p34;
net "side" loc = p35;
net "dkweb" loc = p36;
net "dkwdb" loc = p38;
net "step" loc = p39;
net "dir" loc = p40;
net "debug4" loc = p42;
net "mtr0" loc = p43;
net "sel3" loc = p56;
net "sel2" loc = p57;
net "sel1" loc = p44;
net "sel0" loc = p45;
net "debug3" loc = p46;
net "debug2" loc = p47;
net "index_emu" loc = p48;
net "fdd_mtr0_emu" loc = p49;
net "chng_emu" loc = p50;
net "fdd_sel1_emu" loc = p51;
net "fdd_sel0_emu" loc = p52;

NET "xclk" BUFG = CLK;
NET "xclk" TNM_NET = xclk;
TIMESPEC TS_xclk = PERIOD "xclk" 10 MHz HIGH 50%;
